
.css-class {
  color: red;
  background-color: yellow;
  padding: 10px;
  border: 1px dashed blue;
}

.active-class {
  color: white;
  background-color: green;
}

.inactive-class {
  color: black;
  background-color: lightgray;
}
.active {
  font-weight: bold;
  color: red;
}
